server:
  port: 4002
spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/awkwordMao/spring-cloud-demo/
          search-paths: config-server
          username:
          password:
          default-label: master
  rabbitmq:
    host: localhost
    port: 5672
eureka:
  client:
    service-url:
      defaultZone: http://localhost:4001/eureka/
management:
  security:
    enabled: false